# Bulldozer directory
.buildozer/
bin/

# Virtual environment
venvMihrEzan/

# Build artifacts
**/*.pyc
**/*.pyo
**/__pycache__/

# Build logs
build.log
build-*.log
build/
build-*/

# Temporary files
# buildozer.spec
buildozer.log
buildozer-*.log

# IDE files
.idea/
.vscode/

# Task management
TODO.md
